$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Bad+Script|Calligraffitti|Roboto+Slab);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,body{
    height:100%;
}

#top{
    height:100%;
}

p {
	font-size: 1.2em;
	
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* The ghost, nudged to maintain perfect centering */
#top:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#top{
    background:url("../images/bg.jpg");
    text-align:center;
    .container{
        margin-bottom: 2em;
        display: inline-block;
        vertical-align:middle;
    }
    #mc_embed_signup{
        h2{
            color:#caab72;
        }
    }
}

#leader{
    background:none;
    p,h1{
        color:#caab72;
    }
    p{
        font-family:'Calligraffitti';
        font-size:25pt;
        text-shadow:0px 1px #F0D7A8;
    }
    h1{
        font-family:'Oswald';
        text-shadow:0px 2px #F0D7A8;
        font-size:52pt;
        font-weight:900;
    }
    h1:hover{
        text-shadow:1px 3px #F0D7A8;
        position:relative;
        top:-1px;
        left:-1px;
    }
}

.border {
    position: relative;
    bottom: 0;
    width: 30%;
    height: 1px;
    margin: 20px auto 10px auto;
    background: #555;
    display: block;
}

#bottom{
    padding-top:1.5em;
    hr, .footer {
        border-top: 1px solid #555;
        p{
            color: #333;
            .fa-heart{
                color:#ff69b4;
            }
        }
    }
}
